VISION_KEY=
VISION_ENDPOINT=
OPENAI_KEY=

DOCUMENTAI_KEY=
DOCUMENTAI_ENDPOINT=
DDOCUMENTAI_KEY=
DDOCUMENTAI_ENDPOINT=

CONNECTION_STRING=

CONTAINER_NAME=
KB_CONTAINER_NAME=
RAG_CONTAINER_NAME=
STORAGE_ACCOUNT=

LANGCHAIN_TRACING_V2=
LANGCHAIN_ENDPOINT=
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=

OPENAI_API_TYPE=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
VECTORDB_INDEX_NAME=

VECTOR_STORE_ADDRESS=
VECTOR_STORE_API_KEY=

MS=
EP=
N=
NEP=

#db
DB_PASSWORD=
DB_CONNSTR=
